/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
 
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
 
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 986px) {
 .my-btn {
    background:#C22426;
    border-color:#C22426;
    padding: 2%;
    padding-right: 1%;
    padding-left: 1%;
    font-size: 15px;
} 
.contact-form-aits input[type="text"], .contact-form-aits input[type="email"], .contact-form-aits textarea {
    width: 48.95%;
    float: left;
  }
   .dropdown-menu {
    padding: 4%;
}
  .refreshed {
      background: 
      rgba(206,32,41,0.9);
      position: relative;
      margin-top: 35%;
      width: 100%;
      height: auto;
  }
  .things > .content {   
     width: 70%;
  }
  .things > .content h1 {    
      font-size: 18px;
      width: 100%;
      
  }
 
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

}
.search-box {
    display: block;
    float: none;
}
.navbar-nav {
    position: relative;
    width:100%;
    float: left;
  /*  margin-top: 6%;*/
}
.search-box span, .search-box a {
    font-size: 22px;
    display: block;
    float: none;
}

  .navbar-brand {
    width: 70px;
}
.nav-item a{
  padding: 10px 12px;
}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 986px) and (orientation: landscape) {
  .nav-item:first-child{
  position:relative;
  left: 0;

}
.nav-item:last-child{
 margin-bottom: 0;

}
.main-logo .navbar-brand img {   
   max-height: 17vh;
    }   
  .dropdown-menu {
    padding: 4%;
}
  .refreshed {
      background: 
      rgba(206,32,41,0.9);
      position: relative;
      margin-top: 35%;
      width: 100%;
      height: auto;
  }
  .things > .content {   
     width: 70%;
  }
  .things > .content h1 {    
      font-size: 18px;
      width: 100%;
      
  }
 
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

}
.search-box {
    display: block;
    float: none;
}
.navbar-nav {
    position: relative;
    width:100%;
    float: left;
  /*  margin-top: 6%;*/
}
.search-box span, .search-box a {
    font-size: 22px;
    display: block;
    float: none;
}

  .navbar-brand {
    width: 70px;
}
.nav-item a{
  padding: 10px 12px;
}
.wizard-content .wizard > .steps {
    display: none !important;
}

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
.navbar-light .navbar-toggler {
    margin-right: 6%;
}
 .main-logo .navbar-brand img {
    max-height: 68px;
}

.rightside-sticky-items {
  display: none;
}
.bulk {
    
    position: relative;
    top: auto;
}
  
.nav-item:first-child{
  position:relative;
  left: 0;

}
.nav-item:last-child{
 margin-bottom: 0;

}   
 .navbar-brand {
    width: 120px;
}


   .waking-section{
    display: block;
    width: 100%;
    position: relative;
    background:#D1242B; 
    margin-top: -2%;
  }

  .dropdown-menu {
    padding: 4%;
}

  .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 50%;
    max-width: 100%;
  }
  .col-lg-4.col-md-4.col-sm-6.serv-agileinfo2 {
      padding-top: 0;
  }
     
  
  .serv-wthree4 {
     /*width: 100%;*/
      margin: 0 auto;
      float: none;
  }

  .banar-section {   
        height: 70vh;
       
    }
  .refreshed-container {
      display: none;
  }
  .things > .content {   
     width: 70%;
  }
  .things > .content h1 {    
      font-size: 18px;
      width: 100%;
      
  }
  .refreshed-1 h1 {
  font-size:35px;
  padding-top: 4%;
  color: #fff;
  }
  .refreshed-1 p {
      padding: 2%;
      font-size: 16px;
      color:#fff;
      padding-bottom: 0;
      margin-bottom: 0;
  }
  .devices-header .if-you {
    font-size: 16px;
  }  
  .my-btn {  
      font-size: 1rem;
      margin-top: 5%;
  }
  .tittle_lullaby {   
      font-size: 28px;
      letter-spacing: 1px;
      padding-top: 4%;
  }
  .footer-container{
   position: relative;
  width: 50%;
  margin-top: 5%;

  }
  .footer-container-one{
    margin-top: 5%;
  }
   .dropdown-menu {
    padding: 4%;
}
  .refreshed {
      background: 
      rgba(206,32,41,0.9);
      position: relative;
      margin-top: 35%;
      width: 100%;
      height: auto;
  }
  .things > .content {   
     width: 70%;
  }
  .things > .content h1 {    
      font-size: 18px;
      width: 100%;
      
  }
 
  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

}
.search-box {
    display: block;
    float: none;
}
.navbar-nav {
    position: relative;
    width:100%;
    float: left;
  /*  margin-top: 6%;*/
}
.search-box span, .search-box a {
    font-size: 22px;
    display: block;
    float: none;
}

  .navbar-brand {
    width: 70px;
}
.nav-item a{
  padding: 10px 12px;
}
 .appointment-div {   
margin-bottom: 5%;
padding: 27%;
}
.search-box input {
    top:auto;
  }
  .contact-grid {
width: 100% !important;
}
.wizard-content .wizard > .steps {
   display: none !important;

  }
  .icon-box {
    margin-bottom: 2%;
}
.dynamic-content ul,
.dynamic-content ol {
  margin-left: 30px;
}
}
@media (min-width: 360px) and (max-width: 480px) {
.appointment-div {   
margin-bottom: 5%;
padding: 22%;
}

}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .rightside-sticky-items {
    display: none;
  }
  .search-box input {
   top:auto;
  }
 .main-logo .navbar-brand img {   
   max-height: 68px;
    }
 .bulk {
    
    position: relative;
    top: auto;
} 

 .nav-item:first-child{
  position:relative;
  left: 0;

} 


.navbar-light .navbar-toggler {
    margin-right: 6%;
}
.nav-item:last-child{
 margin-bottom: 0;

}  
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;

}
.search-box {
    display: block;
    float: none;
}
.navbar-nav {
    position: relative;
    width:100%;
    float: left;
  /*  margin-top: 6%;*/
}
.search-box span, .search-box a {
    font-size: 22px;
    display: block;
    float: none;
}

  .navbar-brand {
    width: 70px;
}

  .waking-section{
    display: block;
    width: 100%;
    position: relative;
    background:#D1242B; 
    margin-top: -2%;
  }



  .dropdown-menu {
    padding: 4%;
    background: #D1242B;
}
 .section {
    position: relative;
    display: block;
    margin-top: -2%;
    height: auto;
    padding: 60px 55px 0px 10px;
  }
.appointment-div {   
margin-bottom: 5%;
}
  .nav-item a { 
  font-size: 15px;
  padding: 10px 20px;
  display: block;
  b/*order-bottom: 1px solid #D1242B;*/
  }
  .text-right {
      text-align: left !important;
  }
  .right-menu {
      width: 100%;
  }
  .right-menu .nav-item {
      width: 100%;
  }
  .right-menu .nav-item a {
      text-align: left;
  }
  .banar-section {   
      height: 50vh;
     
  }
  .refreshed-container {
      display: none;
  }
  .things > .content {   
     width: 100%;
  }
  .things > .content h1 {    
      font-size: 16px;
     
      
  }
  .refreshed-1 h1 {
  font-size:20px;
  padding-top: 10%;
   color: #fff;
  }

  .refreshed-1 p {
      padding: 2%;
     font-size: 14px;
      color:#fff;
     padding-bottom: 0;
      margin-bottom: 0;
  }
  .call-now .nav-link {
    font-size: 20px;
    color: 
    #fff;
}
  .my-btn {
      background:#C22426;
      border-color:#C22426;
      font-size: 1rem;
      margin-top: 5%;
  }
  .devices-header .if-you {
      font-size: 13px;
      color: #0B2E47;
  }
  .infro-li {
    padding: 9px 0px 4px 0px;
  }
  .tittle_lullaby {
    text-align: center;
    font-weight: 638;
    color: 
    #fff;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 4%;
}
.col-lg-4.col-md-4.col-sm-6.serv-agileinfo2 {
    padding-top: 0;
}

.video-btn, .video-btn:hover {
  color: #D1242B;
    right: -76%;
   background: none;
    top: -3%;
    border:none;
}

.wizard-content .wizard > .steps {
   display: none !important;

  }

.contact-grid {
width: 100% !important;
}
.icon-box{
  margin-bottom: 2%;
}

/* By Saiful */
.dynamic-content ul,
.dynamic-content ol {
  margin-left: 20px;
}


}
@media (min-width: 320px) and (max-width: 499px){
.sleep-apoea{
 margin-top: 2%;
}
}